@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    

}


*{
  padding: 0;
margin: 0;
}

body{
  background-color: #FFFFFF;
  color:#2F2F2F;
}

.searchbar{
  width: 85%;
  border-radius: 9px;
  height: 50px;
  /* margin-top: 20px; */
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  color: #3d3d3d;
  border:0;
  /* outline: 0; */
}

.searchbar:focus{
  outline-color: #ffffff4c;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accent{
  background-color: #AA5CE7;
}

nav{
  padding: 10px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

select{
  /* background-color: #c9c9c9; */
  border: 0;
  padding: 5px;
  height: 30px;
  margin-right: 10px ;
  border-radius: 5px;
  outline: 0;
cursor: pointer;
}

.container{
  max-width: 800px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px; 
  }
}


.monospace{
  font-family: monospace;
  font-size: 14px;
}

.serif{
  font-family: sans-serif;
  font-size: 14px;

}

.montserrat{
  font-family: "Montserrat", sans-serif  ;
  font-size: 14px;

}

/* width */
::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 20px;
  width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: #AA5CE7;;
  cursor:pointer ;
}

label.modes {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: rgba(14, 212, 116, 0.569);
  display: block;
  border-radius: 100px;
  position: relative;
}

.modes{
  margin-right: 5px;
}