input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.modes {
	cursor: pointer;
	text-indent: -9999px;
  width: 45px;
  height: 25px;
	background: rgba(14, 212, 116, 0.569);
	display: block;
	border-radius: 100px;
	position: relative;
}

label.modes:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
  width: 15px;
  height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label.modes {
	background: #AA5CE7;
}

input:checked + label.modes:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

/* label:active:after {
	width: 130px;
} */


.hfull{
	/* display: flex;
	justify-content: center;
	align-items: center;
*/
	/* height: 100vh;  */

	min-height: 100vh;

}

.darkmode{
  background-color: #222;
  color: #F0F0F0;
}

.lightmode{
  background-color: #F0F0F0;
  color: #222;
}


.lightmode .searchbar{
	background-color: #dfdfdf;
}
.darkmode .searchbar{
	background-color: #404040;
	color: #fff;

}

.darkmode .searchbar::placeholder{
	color: #dfdfdf;
}

.darkmode select {
    background-color: #5a5a5a;
	color:#fff;
}

.darkmode ul li{
	color: #d3d3d3;
}

.darkmode ::-webkit-scrollbar-track {
  background: #3c3c3c;
  border-radius: 20px;
}

/* Handle */
.darkmode ::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 20px;
  width: 8px;
}

.darkmode ::-webkit-scrollbar-thumb:hover {
	/* background: #555; */
	background: #AA5CE7;;
	cursor:pointer ;
  }